$colorFondos: #f7f4e5;
$colorDetalles: #f8eeca;
$colorTitulos: #f8d5db;
$fuenteTitulos: "Roboto Mono", monospace;
$fuenteTextos: "inconsolata", monospace;

@mixin flex-row($gap: 0) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}
