@use "../utilities/variables";

.logo-header {
  width: 50px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.logo-search {
  width: 20px;
  height: auto;
  float: right;
}
header {
  width: 99%;
  padding: 10px;
  background-color: variables.$colorFondos;
  overflow: hidden;
  text-align: center;
}
.Movie {
  width: 100px;
  height: auto;
  margin: 0 40px;
}
.usuario-fecha span {
  position: static;
  margin-right: 40px;
  font-size: small;
}
.news {
  float: left;
  margin-right: 20px;
}
.noticias {
  flex: 1;
  padding: 20px;
}
nav {
  text-align: center;
}
.actividad-seguidos {
  display: inline-block;
  text-align: center;
}
.actividad-seguidos {
  margin-top: 5px;
  font-size: 14px;
}
.actividad-seguidos-titulo {
  font-family: variables.$fuenteTitulos;
  color: variables.$colorTitulos;
  text-decoration: underline;
}
.noticias-recientes {
  font-family: variables.$fuenteTitulos;
  color: variables.$colorTitulos;
  text-decoration: underline;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
footer {
  width: 100%;
  margin: 0;
  text-align: left;
  background-color: variables.$colorFondos;
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    @include flex-row(15px);
  }
}
