.listas-titulo {
  text-align: center;
  font-family: $fuenteTitulos;
  font-size: 20px;
  color: $colorTitulos;
}
.button-container {
  display: flex;
  justify-content: flex-end;

  .crear-lista {
    font-family: $fuenteTextos;
    font-weight: 800;
    background-color: $colorDetalles;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}
.titulo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  padding-left: 20px;
}

.listas-populares {
  font-family: $fuenteTitulos;
  font-weight: 500;
  color: $colorTitulos;
  text-decoration: underline;
}
.listas-populares-img {
  text-align: left;
  margin-top: 80px;
}
.imagenes-de-listas {
  display: inline-block;
  text-align: center;
  margin: 50px;
}
.imagenes-de-listas p {
  font-size: 12px;
  margin-top: 0;
}
.listas-img {
  width: 110px;
}
.listas-guardadas-titulo {
  font-family: $fuenteTitulos;
  color: $colorTitulos;
  text-decoration: underline;
}
.listas-guardadas {
  text-align: left;
  width: 100%;
}
.listas-img2 {
  float: left;
  margin-right: 15px;
  width: 150px;
  height: auto;
}
.lista-guardada {
  overflow: hidden;
  margin-bottom: 20px;
}
.listas-texto {
  overflow: hidden;
}
.p2 {
  font-family: $fuenteTextos;
  font-size: 12px;
  margin-top: 5px;
}
