.listas-titulo {
  text-align: center;
  font-family: $fuenteTitulos;
  font-size: 20px;
  color: $colorTitulos;
}
.button-container {
  display: flex;
  justify-content: flex-end;

  .crear-lista {
    font-family: $fuenteTextos;
    font-weight: 800;
    background-color: $colorDetalles;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}
.titulo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  padding-left: 20px;
}

.listas-populares {
  font-family: $fuenteTitulos;
  font-weight: 500;
  color: $colorTitulos;
  text-decoration: underline;
}
