.noticias-titulo {
  font-family: $fuenteTitulos;
  font-size: 24px;
  color: $colorTitulos;
  text-decoration: underline;
}
.news-article {
  display: inline-block;
  margin: 50px;
}
.p4 {
  font-family: $fuenteTextos;
  font-size: 18px;
  color: $colorTitulos;
}
.p5 {
  font-family: $fuenteTextos;
  font-style: oblique;
}
.p6 {
  font-family: $fuenteTextos;
  font-size: 12px;
  font-weight: lighter;
}
